[MLOPS]
data_store_name: "workspaceblobstore"
path_on_datastore: "raw_data"
mount_path: "/data/raw"
training_output = training_output
evaluation_output = evaluation_output

[DATA]
raw_dir = /data/raw
processed_dir = /data/processed
split_ratio = 0.8

[HYPERPARAMETERS]
epochs = 20
batch_size = 32
lr = 0.0005

[MODEL]
model_path = /data/model/biometric_v1.pth
